#container{
  margin: 0, auto;
  width: 90%;
}

.top{
  background-color: rgb(177, 192, 193);
  padding: 5px;
  border: 1px solid rgb(45, 121, 154);
  margin-top: 5px;
}
.localBottom{
  padding: 5px;
  border: 1px solid rgb(45, 121, 154);
  display: -webkit-flex;
  display: flex;
}

.columnWrapper{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.localBottomColTwo{
  margin-left: 5px;
  margin-right: 80px;
}


.localH1{
  margin: 1px;
}
.localH3{
  margin: 1px;
}
.localP{
  margin: 1px;
}
